.container {

  height: 600px;
  @apply flex flex-col w-full border-b-8 border-black
  bg-gradient-to-tr from-violet-500 to-blue-500
  justify-center items-center text-white;

  .inner {
    width: 600px;
    height: 350px;
    box-shadow: 6px 6px 1px black;
    @apply bg-white flex flex-col p-6
    items-center text-center;

    h2 {
      @apply text-black font-bold text-3xl my-3;
    }
  
    button {
      @apply text-white font-bold bg-black mt-8 py-2 px-12
      border-2 border-white transition-all;
    }
    button:hover {
      @apply bg-gradient-to-r from-purple-500 to-cyan-500
      border-black text-xl;
      box-shadow: 3px 3px 1px black
    }
  }
}
