.container {
    @apply bg-gray-800 
    flex justify-between items-center p-2;
    box-shadow: 8px 8px #000;

    img {
        height: 100%;
        width: 360px;
    }

    .text {
        height: 200px;
        @apply text-center text-white p-2
        flex flex-col items-center justify-evenly;

        h1 {
            @apply font-bold text-lg
        }

        p {
            @apply text-base;
        }
    }
}